.container {
  padding-inline: 45px;
  padding-block: 20px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 12px;
}
