.container {
  background-color: var(--night);
  height: 100%;
  gap: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.musicButton {
  position: absolute;
  inset-block-start: 1.125rem;
  inset-inline-end: 1.125rem;
}

.title {
  color: var(--beach);
  font-size: 2.25rem;
  text-transform: capitalize;
}
